#details {
	h2 {
		margin-bottom: 1em;
	}
	.information {
		margin: 1em 0 2em 0;
		p {
			display: inline-block;
		}
	}
	.images {
		li {
			margin: 0 0 0 10px;
			float: left;
			img {

			}
		}
	}
}