footer {
	margin-top: 3em;
	font-style: italic;
	text-align: center;
	p{
		font-size: 14px;
	}
	.logo {
		width: 150px;
		margin: 2em auto;
		display: block;
	}

	.balt{
		padding: 3em 0;
		img {
			width: 35px;
		}
	}
}