#listing {
	padding: 0 0 5em 0;
	ul {
		padding: .15em;
		// padding: .5%;
		li {
			// display: inline-block;
			// width: 32.5%;
			a {
				position: relative;
				display: block;
				margin: 2px;
				@include transition( all, .2s, ease-in );
				&:hover {
					img {
						-webkit-filter: grayscale(100%);
						filter: grayscale(100%);
						@include opacity( .8 );

						// -webkit-filter:: contrast(1);
						// filter: contrast(1);
						
						

						// saturate([ <number> | <percentage> ])
						// -webkit-filter: saturate(2);
						// filter: saturate(2);
						
						// -webkit-filter: grayscale(100%);
						// filter: grayscale(100%);
					}
					.vcontent{
						// display: block;
					}
				}
				img { 
					@include opacity(0);
					&.hide {
						@include opacity(0);
					}
					&.loaded {
						@include opacity(1);
					}


					@include transition( opacity, 1s, ease-in-out );
					width: 100%;
					z-index: 0;
					top: 0;
				}
				.valign{
					height: 100%;
					display: none;
				}
				.vcontent{
					color: #FFF;
					font-weight: bold;
					@include opacity(0);
					// display: none;
					position: absolute;
					z-index: 1;
					bottom: 6px;
					left: 0;
					width: 100%;
				}
				&:hover {
					.vcontent{
						@include opacity(.5);
						// display: block;
					}
				}
			}
		}
	}
}



/* Also, don't forget to add this: */
[data-columns]::before { 
    position: absolute;
    right: 9999em;
    bottom: 9999em;
    visibility: hidden;
}

/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}

@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}


// @media screen and (min-width: 769px) and (max-width: 1024px) {
// 	#grid[data-columns]::before {
// 		content: '3 .column.size-1of3';
// 	}
// }
// @media screen and (min-width: 1024px) and (max-width: 1224px) {
// 	#grid[data-columns]::before {
// 		content: '4 .column.size-1of4';
// 	}
// }
// @media screen and (min-width: 1224px) {
// 	#grid[data-columns]::before {
// 		content: '5 .column.size-1of5';
// 	}
// }

