#content{
	// &.pink {
	// 	background-image: url(../images/records/record-pink.jpg);
	// }
	// // &.black {
	// 	background-image: url(../images/records/record-black.jpg);
	// // }
	// &.gray {
	// 	background-image: url(../images/records/record-gray.jpg);
	// }
	&.mauve {
		background-image: url(../images/records/sleeve.jpg);
	}
	background-size: contain;
	background-position: top left;
	background-color: #FFF;
	// background-repeat: no-repeat;
	min-height: 100%;
	position: absolute;
	width: 100%;
	text-align: center;
}