$a-color: #000;
$p-color: #000;
$h1-color: #FFF;
$h2-color: #000;
$h3-color: #000;
$h4-color: #000;
$h5-color: #000;
$h6-color: #000;
$h6-span-color: #000;
$dt-color: #000;
$dd-color: #000;
$nav-mobile-color: #FFF;
$nav-color: #000;
$nav-hover-color: #666;
$nav-hover-bg-color: rgba(#fff,.1);
$mauve: #e6b19f;

$breakpointLarge: 1280px;
$breakpointTablet: 1024px;
$breakpointMobile: 640px;

$wrapper-large-width: 1024;
$wrapper-small-width: 1024;
$wrapper-width: 1024;