{{> head index.head }}

{{> intro }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	{{> home index.content }}
	{{> footer }}
</div>

{{> foot index.foot }}
