{{> head contact.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div id='contact'>
		<div class='container'>
			<h1>Coming soon.</h1>
		</div>
	</div>
	{{> footer }}
</div>

{{> foot contact.foot }}
