<div id='listing'>
	<ul id='grid' class='clearfix' data-columns>
		{{#each projects}}
		<li>
			<a href="/setdesign/{{lowercase slug }}">
				<img src="{{ cover_photo }}"/>
				<div class='valign'></div>
				<p class='vcontent'>{{ name }}</p>
			</a>
		</li>
		{{/each}}
	</ul>
</div>
