{{> head 37KitandAce.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details 37KitandAce.content }}
	{{> footer }}
</div>

{{> foot 37KitandAce.foot }}
