{{> head 42Neiman-Marcus.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details 42Neiman-Marcus.content }}
	{{> footer }}
</div>

{{> foot 42Neiman-Marcus.foot }}
