{{> head 45w-mag.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details 45w-mag.content }}
	{{> footer }}
</div>

{{> foot 45w-mag.foot }}
