{{> head 53thierry-lasry.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details 53thierry-lasry.content }}
	{{> footer }}
</div>

{{> foot 53thierry-lasry.foot }}
