{{> head 54document-journal.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details 54document-journal.content }}
	{{> footer }}
</div>

{{> foot 54document-journal.foot }}
