{{> head 57kedsxr29.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details 57kedsxr29.content }}
	{{> footer }}
</div>

{{> foot 57kedsxr29.foot }}
