{{> head 59refinery29_redefining_beauty.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details 59refinery29_redefining_beauty.content }}
	{{> footer }}
</div>

{{> foot 59refinery29_redefining_beauty.foot }}
