{{> head carpark-magazine.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details carpark-magazine.content }}
	{{> footer }}
</div>

{{> foot carpark-magazine.foot }}
