{{> head grey-magazine-2.head }}

{{> navigation-mobile }}
<div id='content'>
    <header>
        {{> logo }}
        {{> navigation }}
    </header>
    <div class='loader-container show'>
        <div class='loader'></div>
    </div>
    {{> details grey-magazine-2.content }}
    {{> footer }}
</div>

{{> foot grey-magazine-2.foot }}
