{{> head interview-magazine-2.head }}

{{> navigation-mobile }}
<div id='content'>
    <header>
        {{> logo }}
        {{> navigation }}
    </header>
    <div class='loader-container show'>
        <div class='loader'></div>
    </div>
    {{> details interview-magazine-2.content }}
    {{> footer }}
</div>

{{> foot interview-magazine-2.foot }}
