{{> head jonathan-cohen-fw-2014.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details jonathan-cohen-fw-2014.content }}
	{{> footer }}
</div>

{{> foot jonathan-cohen-fw-2014.foot }}
