{{> head kim-haller.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details kim-haller.content }}
	{{> footer }}
</div>

{{> foot kim-haller.foot }}
