{{> head kim-haller-fw-2015.head }}

{{> navigation-mobile }}
<div id='content'>
    <header>
        {{> logo }}
        {{> navigation }}
    </header>
    <div class='loader-container show'>
        <div class='loader'></div>
    </div>
    {{> details kim-haller-fw-2015.content }}
    {{> footer }}
</div>

{{> foot kim-haller-fw-2015.foot }}
