{{> head man-of-the-world.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details man-of-the-world.content }}
	{{> footer }}
</div>

{{> foot man-of-the-world.foot }}
