{{> head marfa-journal.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details marfa-journal.content }}
	{{> footer }}
</div>

{{> foot marfa-journal.foot }}
