{{> head urban-zen.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details urban-zen.content }}
	{{> footer }}
</div>

{{> foot urban-zen.foot }}
