{{> head wolf-magazine.head }}

{{> navigation-mobile }}
<div id='content'>
	<header>
		{{> logo }}
		{{> navigation }}
	</header>
	<div class='loader-container show'>
		<div class='loader'></div>
	</div>
	{{> details wolf-magazine.content }}
	{{> footer }}
</div>

{{> foot wolf-magazine.foot }}
